
$blue: #189bdc;
$cerulean: #11ACE3;

$stone: #F0F0F0;

$slate-grey: #566679;
$boulder: #797979;
$grey: #888888;
$bombay: #ADAFB2;
$white: #FFFFFF;

$red: rgb(225, 89, 92);
$light-blue: rgb(95, 201, 231);

$label-color: #566679;
