$site-width: 1300px;

//$full-width: 100%;
//$one-quarter: $full-width / 4;
//$one-third: $full-width / 3;
//$half: $full-width / 2;
//$two-thirds: ($full-width) - ($one-third);
//$three-quarters: ($full-width) - ($one-quarter);


$gutter: 30px;
$gutter-half: $gutter / 2;
//$gutter-one-quarter: $gutter / 4;
//$gutter-one-third: $gutter / 3;
//$gutter-two-thirds: $gutter - $gutter-one-third;

$mobile-gutter: 10px;
$mobile-gutter-half: $mobile-gutter / 2;

// fonts
$font-size: 14px;
$mobile-font-size: 11px;