@import 'reset';

@import 'form/form';

@import 'components/error';
@import 'components/button';
@import 'components/progress';
@import 'components/tooltip';

@import 'theme';
@import 'theme/color';


body {
  height: 100vh;
  background-color: $lightest-grey;
  margin: 0;
  padding: 0;
}

.logo {
  background-color: $primary;
  box-shadow: inset 0 -2px 4px rgba(128, 128, 128, 0.4);
  a {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
}
