// Element
//
// Some description here
//
// Style guide: UXForms.Element
@import "base/legend";
@import "base/label";
@import "base/input";
@import "base/file";
@import "base/radiobox";
@import "base/checkbox";
//@import "base/select";
//@import "base/textarea";



// Component
//
// Some description here
//
// Weight: 1
//
// Style guide: UXForms.Component
@import "components/button";


.ux-forms {
  @include box-sizing(border-box);
  padding: 15px;

  .form-group {
    @include media(mobile) {
      margin: $mobile-gutter-half 0;
    }
    margin: $gutter-half 0;
    position: relative;
  }
}