@import '../../color';
@import '../../../css3';

.form-control {
  &[type='radio'] {
    &:focus,
    &:hover,
    &:active {
      + .form-label {
        &:before {
          border-color: $light-grey-blue;
        }
      }
    }

    + .form-label {
      &:before {
        border-color: $heather;
        background: $white;
      }

      &:after {
        border-color: $gunmetal;
        background-color: $white;
      }
    }

    &:not(:checked),
    &:not([checked]) {
      + .form-label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked,
    &[checked] {
      + .form-label {
        &:after {
          @include opacity(1);
        }
      }
    }

    &:disabled,
    &[disabled] {
      + .form-label {
        @include opacity(0.7);
        &:before {
          border-color: $heather;
        }
      }
    }
  }
}
