@import "../../variables";
@import "../../colors/palette";
@import "../../mixins/fonts";
@import "../../mixins/texts";
@import "../../mixins/buttons";
@import "../../mixins/gds/css3";

// Button
//
// Some description here
//
// Markup:
//  <button class="button button-primary">Button Element</button>
//
// Style guide: UXForms.Component.button

.button {
  @include border-radius(2px);
  font-size: $font-size;
  white-space: nowrap;
  cursor: pointer;
  padding: 7.5px 20px;
  text-decoration: none;

  &.disabled,
  &[disabled] {
    @include opacity(0.7);
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    margin-left: 14px;
    vertical-align: text-bottom;
  }

  &.button-large {
    padding: 10px 30px;
  }

  &.button-small {
    padding: 6px 10px;
  }

  &.button-primary {
    @include font-medium;
    @include button(
            $bg-color: $slate,
            $box-shadow: rgba(0, 0, 0, 0.26),
            $color: $light-white,
            $text-shadow: rgba(0, 0, 0, 0.28)
    );

    &.disabled,
    &[disabled] {
      &:hover, &.hover,
      &:active, &.active {
        @include button($bg-color: $slate);
      }
    }

    &:hover, &.hover,
    &:active, &.active {
      @include button($bg-color: $dark-shadow-grey-blue);
    }
  }

  &.button-secondary {
    @include font-regular;
    @include button(
            $bg-color: transparent,
            $border-color: $heather,
            $color: $heather
    );

    &.disabled,
    &[disabled] {
      &:hover, &.hover,
      &:active, &.active {
        @include button(
                $border-color: $heather,
                $color: $heather
        );
      }
    }

    &:hover, &.hover,
    &:active, &.active {
      @include button(
              $border-color: $gunmetal,
              $color: $gunmetal
      );
    }
  }

  &.button-capsule {
    @include font-medium;
    @include text-muted;
    @include border-radius(15px);
    padding: 2px 10px;
    border: solid 1px $lightest-grey;
    background-color: $lightest-grey;

    &:active, &.active {
      @include text-base;
    }

    &:hover, &.hover {
      @include text-base;
      background-color: transparent;
      border: solid 1px $heather;
    }
  }

  &.button-warning {
    outline: rgba(255,255,255,0.5) auto 5px;
    @include font-medium;
    @include button(
            $bg-color: darken($wheat, 15%),
            $box-shadow: rgba(0, 0, 0, 0.16),
            $color: $white,
            $text-shadow: rgba(0, 0, 0, 0.28)
    );
  }
}
