@import '../../../color';
@import '../../../../css3';

.form-control {
  &[type='checkbox'] {
    &:focus,
    &:hover,
    &:active {
      + .form-label {
        &:before {
          border-color: $light-grey-blue;
        }
      }
    }

    + .form-label {
      &:before {
        border-color: $heather;
        background: $white;
      }

      &:after {
        font-size: 22px;
        color: $sick-green;
      }
    }

    &:not(:checked) {
      + .form-label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked {
      + .form-label {
        &:after {
          @include opacity(1);
        }
      }
    }

    &:disabled {
      + .form-label {
        @include opacity(0.5);
        &:before {
          border-color: $heather;
        }
      }
    }
  }
}
