@import '../../../variables';
@import '../../../color';
@import '../../../mixins/fonts';
@import '../../../mixins/texts';
@import '../../../../css3';

.form-control {
  &[type='file'] {
    &:before {
      @include font-regular;
      @include text-muted;
    }
    &::-ms-value {
      @include font-medium;
      font-size: $default-font-size;
    }
    &::-ms-browse {
      @include font-medium;
      background-color: $gunmetal;
      font-size: $default-font-size;
      color: $white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    }
    &::-webkit-file-upload-button {
      @include font-medium;
      background-color: $gunmetal;
      font-size: $default-font-size;
      color: $white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    }
  }
}

.form-group {
  &.error {
    .form-control {
      &[type='file'] {
        color: transparent;
        &:before {
          @include text-danger;
        }
        &::-webkit-file-upload-button {
          background-color: $blood-orange;
        }
      }
    }
  }
}