@import '../../../variables';
@import '../../../mixins/fonts';
@import '../../../mixins/texts';
@import '../../../mixins/form';
@import '../../../../css3';

.form-control {
  @include font-regular;
  @include text-muted;
  font-size: $default-font-size;
  background-color: $white;
  border-color: $heather;

  @include placeholder {
    @include font-regular;
    @include text-muted;
    font-size: $default-font-size;
  }

  &:focus,
  &:hover,
  &:active {
    border-color: $light-grey-blue;
  }

  &:disabled,
  &[disabled] {
    @include opacity(0.5);
    border-color: $heather;
    color: transparent;
  }
}

.form-group {
  &.error {
    > .form-control {
      @include text-danger;
      @include placeholder {
        @include font-thin;
        @include text-danger;
      }
      border-color: $blood-orange;
      
      &:focus,
      &:hover,
      &:active {
        border-color: $blood-orange;
      }
    }
  }
}