@import '../../../color';
@import '../../../../css3';

.form-control {
  &[type='radio'] {
    &:not(:checked),
    &:checked {
      + .form-label {
        &:before {
          border-color: $heather;
          background: $white;
        }

        &:after {
          border-color: $gunmetal;
          background-color: $white;
        }
      }
    }

    &:not(:checked) {
      + .form-label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked {
      + .form-label {
        &:after {
          @include opacity(1);
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + .form-label {
          &:before {
            @include opacity(0.7);
          }
        }
      }
      &:checked {
        + .form-label {
          &:after {
            @include opacity(0.7);
          }
        }
      }
      + .form-label {
        @include opacity(0.7);
      }
    }
  }
}
