@import '../../../color';

.form-control {
  &[type='radio'] {
    &:not(:checked),
    &:checked {
      + .form-label {
        &:before {
          border-color: $heather;
          background: $white;
        }

        &:after {
          border-color: $gunmetal;
          background-color: $white;
        }
      }
    }
  }
}
