$default-font-family: Roboto;

@mixin font-thin {
  font-family: $default-font-family;
  font-weight: 100;
}

@mixin font-light {
  font-family: $default-font-family;
  font-weight: 300;
}

@mixin font-regular {
  font-family: $default-font-family;
  font-weight: 400;
}

@mixin font-medium {
  font-family: $default-font-family;
  font-weight: 500;
}

@mixin font-bold {
  font-family: $default-font-family;
  font-weight: 700;
}


@mixin font-size {
  font-size: 14px;
}

@mixin font-size-small {
  font-size: 12px;
}
