@import '../../variables';
@import '../../mixins/fonts';
@import '../../mixins/texts';

.error {

}

.error-summary {
  @include font-bold;
  @include text-danger;
  font-size: $default-font-size;
  background-color: $wheat;
}

.error-message {
  @include font-bold;
  @include text-danger;
  font-size: $default-font-size;
}

.error-icon {
  @include text-danger;
  font-size: 28px;
}
