@import '../../color';
@import '../../variables';
@import '../../mixins/fonts';
@import '../../mixins/texts';

.tooltip {
  @include font-regular;
  font-size: $default-font-size;
  color: $white;
  background-color: $heather;
  &:before {
    border-bottom-color: $heather;
  }

  &.tooltip-success {
    background-color: $sick-green;
    &:before {
      border-bottom-color: $sick-green;
    }
  }

  &.tooltip-warning {
    color: $blood-orange;
    background-color: $wheat;
    &:before {
      border-bottom-color: $wheat;
    }
  }

  &.tooltip-danger {
    background-color: $blood-orange;
    &:before {
      border-bottom-color: $blood-orange;
    }
  }

}
