<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>{{pageTitle}}</title>

    <script type="text/javascript">
    (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>


    <link href="{{themeBaseUrl}}/stylesheets/main.css"  rel="stylesheet" type="text/css">

    <script src="{{themeBaseUrl}}/javascripts/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="{{themeBaseUrl}}/javascripts/showHide.js"></script>
</head>
<body>

    <main id="content" role="main">

        {{ > body }}

    </main>

    </body>
</html>
