
<form method="post" action="{{ postAction }}" class="form {{#hasValidationErrors}} error {{/hasValidationErrors}}">

    <legend class="form-legend">{{sectionTitle}}</legend>

    {{ #hasValidationErrors }}
    <div class="error-summary">
        <h1 class="error-title">{{ errorTitle }}</h1>
        <ol>
            {{ #validationErrors }}
            <li><a href="#{{widgetId}}">{{validationMessage}}</a></li>
            {{ /validationErrors }}
        </ol>
    </div>
    {{ /hasValidationErrors }}


    {{{ widgets }}}

	<button class="button button-block button-large">
		{{^isLastSection}}
			{{continueButton}}
		{{/isLastSection}}
		{{#isLastSection}}
			{{submitButton}}
		{{/isLastSection}}
	</button>

</form>

<script>
	$(document).ready(function() {
		addListeners("{{sectionPath}}/widgetState")
	})
</script>
