
<form method="post"
      action="{{ postAction }}"
      class="form {{#hasValidationErrors}} error {{/hasValidationErrors}}">

    <legend class="form-legend">
      <!--TODO: remove markup below -->
      <!--img src="{{themeBaseUrl}}/images/swanseacon_logo-transparent.png" height="100px"/-->
      <div style="color:#566679;">
        2016 Competition
      </div>
    </legend>

    {{ #hasValidationErrors }}
    <div class="error-summary">
        <h1 class="error-title">{{ errorTitle }}</h1>
        <ol>
            {{ #validationErrors }}
            <li><a href="#{{widgetId}}">{{validationMessage}}</a></li>
            {{ /validationErrors }}
        </ol>
    </div>
    {{ /hasValidationErrors }}


    {{{ widgets }}}

	<button class="button button-block">
		{{^isLastSection}}
			{{continueButton}}
		{{/isLastSection}}
		{{#isLastSection}}
			{{submitButton}}
		{{/isLastSection}}
	</button>

</form>

<script>
	$(document).ready(function() {
		addListeners("{{sectionPath}}/widgetState")
	})
</script>
