<div class="form-group {{#validationMessages}} error {{/validationMessages}} {{#hidden}} hidden {{/hidden}} {{#forRadioButtons}} selectable-list {{/forRadioButtons}}" id="{{widgetId}}">
	{{#fieldset}}
  	<fieldset class="{{#displayAsRow}} inline {{/displayAsRow}}">
	{{/fieldset}}
	<label class="form-label" for="{{id}}">
		{{label}}
	</label>
    {{#hasHint}}
        <span class="form-hint">{{hint}}</span>
    {{/hasHint}}

    {{ > widget }}

    {{#fieldset}}
  	</fieldset>
	{{/fieldset}}
</div>

{{#validationMessages}}
    <span class="error-message">{{.}}</span>
{{/validationMessages}}