// Group
//
// Some description here
//
// Weight: 0
//
// Markup:
//    <div class="form-group {{modifier_class}}">
//      <label class="form-label" for="full-name">Full name</label>
//      <span class="form-hint">Your full name</span>
//      <input class="form-control" type="text" />
//    </div>
//
// .form-group-linebreak  -   some description
//
// Style guide: Form.group

.form-group {
  margin-bottom: 10px;
  padding: 5px 10px;

  &.form-group-linebreak {
    //padding-bottom: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }
}

.form-group-item {
  display: inline-block;
}