// Label
//
// Some description here
//
// Weight: 2
//
// Markup:
//    <label class="form-label" for="Name">Name</label>
//
// Style guide: Form.label

@import "../../color";

.form-label {
  display: inline-block;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  color: $grey;
  width: 20%;
}

.form-group {
  &.error {
    .form-label {
      color: $red;
    }
  }
}