// Label
//
// Some description here
//
// Weight: 2
//
// Markup:
//    <label class="form-label" for="Name">Name</label>
//
// Style guide: Form.label

@import "../../color";

.form-label {
  display: inline-block;
  cursor: pointer;
  font-family: Lato;
  font-weight: 400;
  color: $label-color;
  width: 15%;
  font-size: 1.125em; //18/16
}
