// Input
//
// Some description here
//
// Markup:
//  <form class="ux-forms">
//    <input class="form-control {{modifier_class}}" id="full-name" type="text" placeholder="Firstname">
//  </form>
//
// :focus       - some description
// :active      - some description
//
// Style guide: UXForms.Element.input

@import "../../variables";
@import "../../colors/palette";
@import "../../icons/UX-forms";
@import "../../mixins/fonts";
@import "../../mixins/forms";
@import "../../mixins/texts";
@import "../../mixins/gds/css3";
@import "../../mixins/gds/conditionals";
@import "../../mixins/utils";

$min-width: 299;

.ux-forms {
  .form-control {
    @include font-regular;
    @include text-muted;
    @include border-radius(2px);
    @include media(mobile) {
      width: 100%;
      min-width: auto;
      display: block;
    }
    min-width: $min-width + px;
    font-size: $font-size;
    background-color: $white;
    border: solid 1px $heather;
    padding: 9px;
    margin-bottom: 10px;

    @include placeholder {
      @include font-regular;
      @include text-muted;
      font-size: $font-size;
    };

    &:focus,
    &:active, &.active {
      outline: none;
      outline-offset: 0;
      padding: 8px;
      border: solid 2px $light-grey-blue;
    }

    // Sizes
    //
    // Some description here
    //
    // Markup:
    //  <form class="ux-forms">
    //    <input class="form-control {{modifier_class}}" id="full-name" type="text" placeholder="Firstname">
    //  </form>
    //
    // .block-input - some description
    //
    // Style guide: UXForms.Element.input.size
    &.block-input {
      @include box-sizing(border-box);
      width: 100%;
      min-width: auto;
      display: block;
    }
  }
}
