// Radio
//
// Some description here
//
// Markup:
//  <form class="ux-forms">
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" id="radio" type="radio">
//      <label class="form-label" for="radio">Yes</label>
//    </div>
//  </form>
//
// :focus       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: UXForms.Element.radio

@import "../../variables";
@import "../../colors/palette";
@import "../../icons/UX-forms";
@import "../../mixins/fonts";
@import "../../mixins/forms";
@import "../../mixins/texts";
@import "../../mixins/gds/css3";
@import "../../mixins/gds/conditionals";
@import "../../mixins/utils";

.ux-forms {

  [type="radio"] {
    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;
      + label {
        position: relative;
        padding-left: 30px;
        padding-right: 15px;
        cursor: pointer;
        &:before {
          @include border-radius(50%);
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: 18px;
          height: 18px;
          border: 1px solid $heather;
          background: $white;
        }

        &:after {
          @include border-radius(50%);
          content: "";
          position: absolute;
          top: -2px;
          left: 0;
          width: 6px;
          height: 6px;
          border: 7px solid $gunmetal;
          background-color: $white;
        }
      }
    }
  }

  [type="radio"] {
    &:not(:checked) {
      + label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked {
      + label {
        &:after {
          @include opacity(1);
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + label {
          cursor: default;
          &:before {
            @include opacity(0.7);
          }
        }
      }
      &:checked {
        + label {
          &:after {
            @include opacity(0.7);
          }
        }
      }
      + label {
        @include opacity(0.7);
      }
    }
  }
}
