@import '../mixins/fonts';
@import '../mixins/texts';

.error {

}

.error-summary {
  @include font-bold;
  @include font-size;
  @include text-danger;
  background-color: $wheat;
  li {
    @include font-bold;
    @include font-size;
    @include text-danger;
    list-style-type: disc;
    a {
      @include font-bold;
      @include font-size;
      @include text-danger;
      text-decoration: none;
    }
  }
}

.error-message {
  @include font-bold;
  @include font-size;
  @include text-danger;
  text-align: right;
}

.error-icon {
  @include text-danger;
  font-size: 28px;
}
