// Button
//
// Some description here
//
// Weight: 1
//
// Markup:
//  <button class="button {{modifier_class}}">Button</button>
//
// :hover       - some description
// :focus       - some description
// :active      - some description
// .disabled    - some description
//
// Style guide: Button
@import '../css3';
@import '../color';

.button {
  @include border-radius(2px);
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;

  font-family: Montserrat;
  font-size: 14px;
  background-color: $cerulean;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  border: none;

  &.disabled,
  &[disabled] {
    cursor: default;
    @include opacity(0.7);
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  // Block size
  //
  // Some description here
  //
  // Weight: 2
  //
  // Markup:
  //  <button class="button button-block">Button</button>
  //
  // Style guide: Button.block

  &.button-block {
    @include box-sizing(border-box);
    width: 100%;
    min-width: auto;
    display: inline-block;
  }
}
