// Footer
//
// Some description here
//
// Markup:
//  <footer class="footer">
//    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
//    Equal Experts
//  </footer>
//
// Style guide: Footer
@import '../color';

.footer {
  font-family: Lato;
  font-weight: 300;
  color: $boulder;
  text-align: center;
  padding: 20px;

  p {
    font-size: 13px;
    line-height: 1.5em;
  }
}
