// Button
//
// Some description here
//
// Markup:
//  <button class="button {{modifier_class}}">Button<i class="icon-icon-control-print"></i></button>
//
// :hover       - some description
// :focus       - some description
// :active      - some description
// .disabled    - some description
//
// Style guide: Button

@import '../../css3';

.button {
  @include border-radius(2px);
  white-space: nowrap;
  cursor: pointer;
  padding: 7.5px 20px;
  text-decoration: none;

  &.disabled,
  &[disabled] {
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    &:before {
      padding: 0 5px;
    }
  }

  // Sizes
  //
  // Some description here
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //
  // .button-large - some description
  // .button-small - some description
  //
  // Style guide: Button.size
  &.button-large {
    padding: 10px 30px;
  }

  &.button-small {
    padding: 6px 15px;
  }

  // Types
  //
  // Some description here
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //
  // .button-primary    - some description
  // .button-secondary  - some description
  //
  // Style guide: Button.type
  &.button-primary {
  }

  &.button-secondary {
    outline: auto 5px;
  }
}
