// Button
//
// Some description here
//
// Markup:
//  <button class="button {{modifier_class}}">Button</button>
//
// :hover       - some description
// :focus       - some description
// :active      - some description
// .disabled    - some description
//
// Style guide: Component.button

@import "../../mixins/css3";

.button {
  @include border-radius(2px);
  white-space: nowrap;
  cursor: pointer;
  padding: 7.5px 20px;
  text-decoration: none;

  &.disabled,
  &[disabled] {
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    margin-left: 14px;
    vertical-align: text-bottom;
  }


  // Sizes
  //
  // Some description here
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //
  // .button-large - some description
  // .button-small - some description
  //
  // Style guide: Component.button.size
  &.button-large {
    padding: 10px 30px;
  }

  &.button-small {
    padding: 6px 10px;
  }

  // Types
  //
  // Some description here
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //
  // .button-primary    - some description
  // .button-secondary  - some description
  // .button-warning    - some description
  //
  // Style guide: Component.button.type
  &.button-primary {
  }

  &.button-secondary {
  }

  &.button-warning {
    outline: auto 5px;
  }
}
