// Tooltip
//
// Some description here
//
// Markup:
//  <div class="tooltip {{modifier_class}}">Hello There!</div>
//
// .tooltip-success       - some description
// .tooltip-warning       - some description
// .tooltip-danger        - some description
//
// Style guide: Tooltip

.tooltip {
  display: inline-block;
  padding: 15px 60px 15px 15px;

  &.tooltip-success {

  }

  &.tooltip-warning {

  }

  &.tooltip-danger {

  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
  }
}
