// Checkbox
//
// Some description here
//
// Weight: 7
//
// Markup:
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" type="checkbox" placeholder="Firstname">
//      <label class="form-label" for="checkbox">Yes</label>
//    </div>
//
// :focus       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: Form.checkbox

@import '../../../UX-forms';
@import '../../../css3';

.form-control {

  &[type='checkbox'] {

    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;
      + .form-label {
        position: relative;
        padding-left: 30px;
        padding-right: 15px;
        cursor: pointer;
        &:before {
          @include border-radius(2px);
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: 18px;
          height: 18px;
          border: 1px solid;
        }

        &:after {
          @extend .icon;
          @extend .icon-icon-misc-tick;
          position: absolute;
          top: -8px;
          left: 2px;
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + .form-label {
          cursor: default;
        }
      }
    }
  }
}
