// Checkbox
//
// Some description here
//
// Weight: 7
//
// Markup:
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" type="checkbox" id="demo">
//      <label class="form-label" for="demo">Yes</label>
//    </div>
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: Form.checkbox
@import '../../../UX-forms';
@import '../../../css3';

.form-control {
  &[type='checkbox'] {
    position: absolute;
    left: -9999px;

    + .form-label {
      position: relative;
      padding-left: 30px;
      padding-right: 15px;
      line-height: 20px;
      cursor: pointer;
      &:before {
        @include border-radius(2px);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid;
      }

      &:after {
        @extend .icon;
        content: '\6a';
        position: absolute;
        top: -5px;
        left: 2px;
      }
    }

    &:disabled,
    [disabled] {
      + .form-label {
        cursor: not-allowed;
      }
    }
  }
}
