// File
//
// Some description here
//
// Weight: 6
//
// Markup:
//    <input class="form-control {{modifier_class}}" type="file">
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :disabled    - some description
//
// Style guide: Form.file

@import '../../../css3';

.form-control {
  &[type='file'] {
    @include appearance(none);
    color: transparent;
    &:before {
      content: 'Select file';
    }
    &::-ms-value {
      @include border-radius(2px);
      border: none;
      outline: none;
    }
    &::-ms-browse {
      @include border-radius(2px);
      padding: 0 20px;
      margin-left: -5px;
      float: right;
      border: none;
      outline: none;
      cursor: pointer;
    }
    &::-webkit-file-upload-button {
      @include border-radius(2px);
      margin-right: -10px;
      margin-bottom: -10px;
      margin-top: -10px;
      padding: 10px 20px;
      float: right;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
