// Input
//
// Some description here
//
// Weight: 4
//
// Markup:
//    <input class="form-control {{modifier_class}}" type="text" placeholder="Firstname">
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :disabled    - some description
//
// Style guide: Form.input

@import '../../../css3';
//@import '../../mixins/gds/conditionals';

.form-control {
  @include border-radius(2px);
  border: solid 1px;
  padding: 9px;
  margin-bottom: 10px;
  width: 50%;

  //@include media(mobile) {
  //  width: 100%;
  //  min-width: auto;
  //  display: block;
  //}
  //min-width: $min-width + px;

  &:focus,
  &:hover,
  &:active {
    outline: none;
    outline-offset: 0;
    padding: 8px;
    border: solid 2px;
  }

  &:disabled {
    border: solid 1px;
    padding: 9px;
    cursor: not-allowed;
  }

  // Sizes
  //
  // Some description here
  //
  // Markup:
  //    <input class="form-control {{modifier_class}}" type="text" placeholder="Firstname">
  //
  // .block-input - some description
  //
  // Style guide: Form.input.size
  &.block-input {
    @include box-sizing(border-box);
    width: 100%;
    min-width: auto;
    display: inline-block;
  }
}

.form-group {
  &.error {
    > .form-control {
      padding: 8px;
      border: solid 2px;

      &.block-input {
        width: calc(100% - 55px);
      }

      &:focus,
      &:hover,
      &:active {
        outline: none;
        outline-offset: 0;
        padding: 8px;
        border: solid 2px;
      }
    }
  }
}