// Legend
//
// Some description here
//
// Weight: 1
//
// Markup:
//    <legend class="form-legend">Login Form</legend>
//
// Style guide: Form.legend

.form-legend {
  border-bottom: solid 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
