// Radio
//
// Some description here
//
// Weight: 8
//
// Markup:
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" id="radio" type="radio">
//      <label class="form-label" for="radio">Yes</label>
//    </div>
//
// :focus       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: Form.radio

@import '../../../css3';

.form-control {

  &[type='radio'] {

    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;
      + .form-label {
        position: relative;
        padding-left: 30px;
        padding-right: 15px;
        cursor: pointer;
        &:before {
          @include border-radius(50%);
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: 18px;
          height: 18px;
          border: 1px solid;
        }

        &:after {
          @include border-radius(50%);
          content: '';
          position: absolute;
          top: -2px;
          left: 0;
          width: 6px;
          height: 6px;
          border: 7px solid;
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + .form-label {
          cursor: default;
        }
      }
    }
  }
}
